$color-tertiary :#f6f6f6;; 
.accordeon {

    img {
        transition: all .2s ease-in-out;
        &.opened {
            transform: rotate(-180deg);
        }
    }
}

.description-text-accordeon{
    padding : 1.08rem .72rem .75rem;;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    background-color:$color-tertiary;
    font-weight: 400;
    p{
        font-size : 1.3rem;
        font-weight: 400;
    }
}

@media screen and (max-width:426px){
    .accordeon{
        .description-text-accordeon{
            background-color: $color-tertiary;
            p{
                font-size : 0.9rem;
            }
        }
    } 
    
   
 
}