.logo{
    position: absolute;  
    width: 210.32px;
    height: 68px;
    margin-left: 30px;
    a{
        img{
            margin-left: 20px;
        }}
}

@media screen and (max-width:426px){
    .logo{
        margin-left: 20px;
        a{
            img{
                margin-left: 20px;
            }
        }
    }
}
