.logo{
    position: absolute;  
    width: 210.32px;
    height: 68px;
    a{
        img{
            height: 4.25rem;
    width: 13.15rem;
}
        }}

        @media screen and (max-width:450px){
            .logo{
                position: absolute;  
                width: 210.32px;
                height: 68px;
                a{
                    justify-content: flex-start;
                    img{
                        height: auto;
                            width: auto;
            }}}};
    
   
 




