.navigation{
    display: flex;
    justify-content: flex-end;
}
.active{
 text-decoration: underline;
}
a{
    display: flex;
    margin: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 34px;
    color: $main-color;
    font-size: 1.5rem;
    font-weight: 500;
}

@media screen and (max-width:430px){
    .navigation{
      height: 50px;
      align-items: center;
      margin-top: 15px;
        a {
        height: 34px;
        width: 75px;
        font-size: 12px;
        text-transform:uppercase;
        font-size: 0.75rem;
    font-weight: 500;
        }
    }
}