.logements{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    width: auto;
    text-align: center; 
    .logement-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5%;
    row-gap: 30px;
    justify-self: stretch;
    background-color:#F7F7F7;
    border-radius: 25px;
    padding: 60px;
    }
}

@media screen and (max-width:426px){
    .logements{
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 50px;
        margin-bottom: 40px;
        .logement-list{
            display: flex;
            flex-direction: column;
            padding: 0;
            background-color: white;
            

        }
    }
}