
$font:'Montserrat', sans-serif;

$main-color:#FF6060;
$background-color:#E5E5E5;
$main-background:#FFFFFF;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-color: $main-background;
    font-family: $font;
    color: $main-color;
    height: 100%;
    max-width: 1900px;
    text-align: center;
    
}

.home{
    height: auto;
    @media screen and (max-width:426px){
         
       margin: 0 5%
    }
};


li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    $main-color:#FF6060;
}
a:hover{
    text-decoration: underline;
    
}
a:target{
    text-decoration: underline;
    
}


