$color-secondary : #FF6060;
$color-tertiary : #F7F7F7;
$color-primary : #fff;

.collapse {
    background-color: $color-tertiary;
    max-width: 1100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;

    &_title {
        background-color: #FF6060;
        margin-top: 2%;
        display: flex;
        padding-left: 2%;
        padding-right: 2%;
        height: 2.25rem;
        align-items: center;
        border-radius: 5px;
        justify-content: space-between;
        border-radius: 5px;

        .fleche {
            transition: all 0.2s ease-in-out;

            @media screen and (max-width: 1230px) {
                width: 12px;
            }
        }

        .fleche_up {
            transform: rotate(0deg);
        }

        .fleche_down {
            transform: rotate(180deg);
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: start;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 20px 10px 10px 20px;
        letter-spacing: 1px;
        font-size: clamp(12px, 2vw, 16px);
        color: $color-secondary;
        transition: visibility 0.5s ease-in-out,
            opacity 0.5s ease-in-out,
            height 0.2s ease-in-out;
            @media screen and (max-width: 650px) {
                padding: 20px 10px 10px 10px;
            }

    }

    &_content_hidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}


//Carousell 


.carousel {
    position: relative;
    display: flex;
    height: 415px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 43px auto;

    @media screen and (max-width: 650px) {
        height: 200px;
        margin: 20px auto;
    }

    &_fleche {
        position: absolute;
        top: 50%;
        height: 15%;
        transform: translateY(-50%);
        cursor: pointer;

        &:active {
            transform: translateY(-50%) scale(0.9);
        }

        &_right {
            right: 25px;
        }

        &_left {
            left: 25px;
        }
    }

    .slideCount {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $color-primary;
        font-weight: 500;
        font-size: clamp(14px, 2vw, 18px);
    }
}

.accomodation {
    color: #ff6060;
    margin: 43px auto;

    &_content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: revert;

        &_infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h1 {
                font-weight: normal;
            }

            ;

            &_tags-logement {
                display: flex;
                flex-wrap: wrap;
                gap: .63rem;
                margin-top: 1.25rem;

                .tags {
                    display: inline-block;
                    background-color: $color-secondary;
                    border-radius: 20px;
                    border: 4px;
                    padding: .3rem 2.31rem 1.35rem;
                    color: $color-tertiary;
                    text-align: center;
                    font-size: .88rem;
                    max-height: 1.13rem;
                    transition: all 0.5s;
                    cursor: pointer;
                    margin: 5px;

                    @media screen and (max-width:430px) {
                        padding: .3rem 1.31rem 1.35rem;
                    }
                }
            }
        }

        ;

        &_host {
            &_0 {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;

                img {
                    clip-path: ellipse(50% 50%);
                    height: 3.25rem;
                    max-width: 3.25rem;
                    width: 3.25rem;
                }
            }

            &_stars {
                align-items: center;
                display: flex;
                margin-top: 4px;
                justify-content: space-between;

                img {
                    font-size: 1.5rem;
                }
            }

            &_name {
                display: flex;
                flex-direction: column;

                p {
                    width: min-content;
                }

            }

        }
    }

    &_collapse {
        display: flex;
        justify-content: space-between;
        margin: 30px auto;

        &_item {
            width: 47%;
        }

        @media screen and (max-width: 770px) {
            flex-direction: column;
            gap: 20px;
            margin: 20px auto;
            justify-content: start;

            &_item {
                width: 100%;
            }
        }
    }

}

@media screen and (max-width:770px) {
    .accomodation {
        display: flex;
        flex-direction: column;

        &_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &_infos {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                h1 {
                    font-size: 18px;
                    text-align: start;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                }
            }

            &_host {
                flex-direction: row-reverse;
                display: flex;
                justify-content: space-between;
                width: 100%
            }

            &_tags-logement {
                display: flex;
                height: auto;
                width: auto;
                justify-content: space-between;
                margin-top: 20px;

                .tags {
                    display: flex;
                    margin-right: 1%;
                    background-color: $main-color;
                    color: $color-primary ;
                    height: auto;
                    width: 100px;
                    align-items: center;
                    justify-content: center;
                    padding-left: 2%;
                    padding-right: 2%;
                    font-size: 10px;
                }
            }
        }
    }

}