.aboutMainText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    .wrapper-about{
        display: flex;
        flex-direction: column;
        width: 75%;
        .about-Details{
            background-color: $main-color;
            margin-top: 2%;
            display: flex;
            padding-left: 2%;
            padding-right: 2%;
            height: 2.25rem;
            align-items: center;
            border-radius: 5px; 
            justify-content: space-between;
            border-radius: 5px;
            p{
                font-size: larger;
                color: white;
            }
        }
    }
}

.about-Details-text{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    display: none;
    p{
        padding-left: 2%;
        padding-right: 2%;
    }
}



@media screen and (max-width:426px){
    .aboutMainText{
        height: auto;
        .wrapper-about{
            width:100%;
            height: auto;
            margin-bottom: 66px;
            .about-Details{
                height: 25px;
                margin-top: 4%;
            }
        }
    }
 
}